﻿@model IEnumerable<SuperZapatosApp.Models.Article>


@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by store: @Html.TextBox("SearchArticle")
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table id="articlesTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInShelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalInVault)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInShelf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalInVault)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

</table>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
       // getArticles();

    })
    function getArticles() {
        $.ajax({
            url: '/SuperZapatosApp/Article/GetArticles/',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var rows = '';
                $.each(data, function (i, item) {
                    rows += "<tr>"
                    rows += "<td>" + item.Name + "</td>"
                    rows += "<td>" + item.Description + "</td>"
                    rows += "<td>" + item.Price + "</td>"
                    rows += "<td>" + item.TotalInShelf + "</td>"
                    rows += "<td>" + item.TotalInVault + "</td>"
                    rows += "<td>" + item.Store.Name + "</td>"
                    rows += "<td><button type='button' id='btnEdit' class='btn btn-default'>Edit</button> <button type='button' id='btnDelete' class='btn btn-danger'>Delete</button></td>"
                    rows += "</tr>";
                    $("#articlesTable tbody").html(rows);
                    alert('funciona')
                });
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    };
    </script>