﻿@model IEnumerable<SuperZapatosApp.Models.Store>

@{
    ViewBag.Title = "Stores";
}

<h2>Stores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="storesTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

</table>

<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function()
    {
       // getStores();

    })
    function getStores() {
        $.ajax({
            url: '/ShoeServices/Services.asmx/Stores',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                //var rows = '';
                //$.each(data, function (i, item) {
                //    rows += "<tr>"
                //    rows += "<td>" + item.Name + "</td>"
                //    rows += "<td>" + item.Address + "</td>"
                //    rows += "<td> <a href='/SuperZapatosApp/Store/Edit/" + item.Id + "'>Edit</a> | "
                //    rows += "<a href='/SuperZapatosApp/Store/Details/" + item.Id + "'>Details</a> | "
                //    rows += "<a href='/SuperZapatosApp/Store/Delete/" + item.Id + "'>Delete</a>"
                //    rows += "</tr>";
                //    $("#storesTable tbody").html(rows);

                   
                //});
                alert(data);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    };
</script>