﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Fabian Solano Redondo<br />
    Cartago, Costa Rica<br />
    <abbr title="Phone">P:</abbr>
    8922-8105
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a>
</address>