﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Zapatos</h1>
    <p class="lead">Inventory control app.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stores</h2>
        <p>Display all stores</p>
        <p><input class="btn btn-default" type="button" value="More" onclick="location.href='@Url.Action("Index", "Store")'" /></p>
    </div>
    <div class="col-md-4">
        <h2>Articles</h2>
        <p>Display all articles.</p>
        <p><input class="btn btn-default" type="button" value="More" onclick="location.href='@Url.Action("Index", "Article")'" /></p>
    </div>
</div>